 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/why-us-lower-mobile.jpeg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  font-size: 1.25rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 243px;
}

.u-section-2 .u-text-1 {
  line-height: 1.3;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 60px 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 824px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 40px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 584px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 40px 0;
}

.u-section-3 .u-group-1 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 40px 0;
}

.u-section-3 .u-group-2 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 40px 0;
}

.u-section-3 .u-group-3 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 30px 40px 0;
}

.u-section-3 .u-group-4 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 30px 40px 0;
}

.u-section-3 .u-group-5 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-16 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 30px 40px 0;
}

.u-section-3 .u-group-6 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-17 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 482px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 831px;
    grid-auto-columns: 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-11 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-19 {
    font-size: 1rem;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/python-for-finance-examples.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-size: cover;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 120px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 422px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 10px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 34px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 601px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 6px;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 45px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1112px;
  margin: 60px auto 45px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 408px;
  grid-auto-columns: calc(25% - 22.5px);
  grid-gap: 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/1avatar-gen3f2b69402f297102702ca90c0406c5f6.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/289817353-0.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/-.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("images/avatar-gendc9a8be86da0578c5b0da0a54018d18f.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1134px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1710px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 260px;
}

.u-section-7 .u-text-1 {
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 65px 71px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 655px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  width: 828px;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  --radius: 10px;
  margin: 30px auto 60px;
  padding: 7px 24px 8px 23px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    line-height: 1;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-btn-1 {
    font-size: 0.75rem;
    padding-right: 6px;
    padding-bottom: 7px;
    padding-left: 5px;
  }
}